<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS Blog App</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title"> Hello Dear</h1>
      <p class="subtitle">
        Congratulations, you have added a new post successfully 🚀!!!
      </p>
    </div>
  </main>
</body>
</html>
